<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlexPage</title>
    <link rel="stylesheet" href="/static/flexpage.css">
</head>
<body>
    <header>

    </header>
    <main>
        <section>
            <div class="container">
                <h1>Penktadienis</h1>
                <p>siaip tekstas</p>
            </div>
        </section>
        <section class="main">
            <div class="container">
                <h3>ka galim nuveikt siandien? aa?</h3>
            </div>
        </section>
        <section class="things">
            <div class="container transparent">
                <h2>Many nice things</h2>
                <div class="thing-list">
                    <div class="thing">
                        <h3>Pirmas daiktas</h3>
                        <img src="https://static1.squarespace.com/static/5906487dff7c50866d9bec7b/t/5935f85d37c581ebe8b941f2/1665000040857/">
                    </div>
                    <div class="thing">
                        <img src="https://static1.squarespace.com/static/5906487dff7c50866d9bec7b/t/5935f85d37c581ebe8b941f2/1665000040857/">
                    </div>
                    <div class="thing">
                        <h3>Trecias daiktas</h3>
                        <img src="https://static1.squarespace.com/static/5906487dff7c50866d9bec7b/t/5935f85d37c581ebe8b941f2/1665000040857/">
                    </div>
                    <div class="thing">
                        <img src="https://static1.squarespace.com/static/5906487dff7c50866d9bec7b/t/5935f85d37c581ebe8b941f2/1665000040857/">
                    </div>
                    <div class="thing">
                        <h3>Penktas super ilgo aprasymo daiktelis</h3>
                        <img src="https://static1.squarespace.com/static/5906487dff7c50866d9bec7b/t/5935f85d37c581ebe8b941f2/1665000040857/">
                    </div>
                    <div class="thing">
                        <img src="https://static1.squarespace.com/static/5906487dff7c50866d9bec7b/t/5935f85d37c581ebe8b941f2/1665000040857/">
                    </div>
                    <div class="thing">
                        <img src="https://static1.squarespace.com/static/5906487dff7c50866d9bec7b/t/5935f85d37c581ebe8b941f2/1665000040857/">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div>
                <p>(C) 2022 Middle of Nowhere</p>
            </div>
            <div>
                <ul>
                    <li>Contact us</li>
                    <li>Terms and Conditions</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>